/*css html,body,body:after given from https://codepen.io/craigiswayne/pen/XmBzzq */

		

		body {
			font-size: 20px;
			color: #E8E8E8;
			font-family: "Balsamiq Sans", sans-serif;
			display: block;
			width: 80%;
			height: 80%;
			min-height: auto;
			margin: 30px auto 0 auto;
			background-color: #497959;
			padding: 20px 30px;
			overflow-y: auto;
			overflow-x: auto;
			
		}

		body:after {
			content: "";
			display: block;
			position: absolute;
			-webkit-border-radius: 0.1em 0.1em 0 0.1em;
			-khtml-border-radius: 0.1em 0.1em 0 0.1em;
			-moz-border-radius: 0.1em 0.1em 0 0.1em;
			-ms-border-radius: 0.1em 0.1em 0 0.1em;
			-o-border-radius: 0.1em 0.1em 0 0.1em;
			border-radius: 0.1em 0.1em 0 0.1em;
			width: 50px;
			height: 8px;
			background: #f1f1f1;
			top: 80%;
			margin-top: 75px;
			margin-right: 60px;
			right: 5%;
			box-shadow: inset 0 -4px 1px rgba(0, 0, 0, 0.3), -1px -1px 1px rgba(0, 0, 0, 0.2), 0 2px 0 rgba(0, 0, 0, 0.3)
		}


		button {
			width: 110px;
			background-color: #4c7faf;
			color: white;
			padding: 12px 30px;
			border: none;
			border-radius: 4px;
			cursor: pointer;

		}

		label {
			font-size: 20px;
			font-weight: bold;
			padding: 4px;

			color: white;
		}

		input {
			font-size: 20px;
			
			position: relative;
			border-radius: 25px;
			border: 2px solid #73AD21;
			padding: 12px 30px;
			width: 250px;
			height: 20px; 
		}

		input::-webkit-input-placeholder {
			font-size: 13px;
		}

		

		button:hover {
			background-color: #45a049;
		}

		.success {
			background-color: #4CAF50;
			padding: 3px;
			color: white;
			font-size: 20px;
		}

		.info {
			background-color: #4c7faf;
			color: white;
			font-size: 20px;
			padding: 3px;
		}

		
		  
		select {
			appearance: none;
			outline: 0;
			background: #4CAF50;
			background-image: none;
			width: 75%;
			height: 75%;
			color: black;
			cursor: pointer;
			border: 1px solid black;
			border-radius: 3px;
		}
		select option{
			font-size: 20px;
			font-family: "Balsamiq Sans", sans-serif;

		}
		.select {
			position: relative;
			display: block;
			width: 15em;
			height: 2em;
			line-height: 3;
			overflow: hidden;
			border-radius: .25em;
			padding-bottom: 10px;
		}

		h1{
			color: rgb(225, 231, 225) ;

		}
		

		h2{
			color: antiquewhite;
		}

		.otherMenu{
			visibility: hidden;
		}

		.mainMenu{
			visibility: hidden;
		}